#insert{
    display: flex;
    width: 100%;
    height: 5vh;
    margin-bottom: 10px;
}
#searchInv{
    display: flex;
    width: 100%;
    height: 5vh;
    font-size: 1.2vw;
    min-height: 10px !important;
}
.insbutt{
    min-height: 15px !important;
}
input.insbutt{
    flex: 10%;
    font-size: 1.2vw;
}
input.searchIn{
    flex: 90%;
    font-size: 1.2vw;
}
#dropdown{
    flex: 3%;
    font-size: 1.2vw;
}
input.button.searchIn{
    flex: 7%;
    font-size: 1.2vw;
}
body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}