#login_box{
    height: 28vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 35vw;
    top: 35vh;
    background-color: white;
    text-align: center;
    border: 2px black solid;
}
body{
    background-color: #36723e;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#buttons{
    flex: 25%;
    width: 100%;
    display: flex;
    align-self: center;
    color: rgba(102, 102, 102, 0.582);
    
}
.button{
    width: 10vw;
    flex: 50%;
    border-radius: 0%;
    border: 0px;
    background-color: #009213;
    color: white;
    font-size: 1.5vw;
    transition: all ease 0.3s;
}
button:hover{
    background-color: white;
    color: black;
    transition: all ease 0.3s;
}

.textbox{
    margin-bottom: 10px;
    padding-bottom: 3px;
    width: 90%;
    align-self: center;
    border-radius: 5px;
    border: 1px solid rgba(75, 75, 75, 0.788);
    flex: 10%;
    font-size: 1.5vw;
}